:root {
    --cor-fundo: #0B3D2E;
    --cor-secundaria: #1f7a5c73;
    --cor-destaque: #FFD54A;
    --cor-texto: #F8FFF9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
    background-image: url("../imagens/Fundo.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 32px 16px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;

}

main {
    background-color: var(--cor-fundo);
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}


h1, h2, h3 {
    color: var(--cor-destaque);
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}

p {
    color: var(--cor-texto);
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}

ul li a {
    background-color: var(--cor-secundaria);
    padding: 10px 10px;
    border-radius: 8px;
    color: var(--cor-texto);
    text-decoration: none;
    font-family: poppins, Arial, Helvetica, sans-serif;
    text-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
    font-size: 20px;
}

hr {
    margin-bottom: 10px;
}

.titulo h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;

}

.cabecalho {
    margin: 30px auto;
    margin-bottom: 30px;
    max-width: 700px;
}

.cabecalho h2 {
    text-align: center;
    font-size: 32px;
}

.cabecalho p {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.organizacao-conteudo {
    display: flex;
    align-items: center;
    gap: 30px;

    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.organizacao-imagem {
    background-color: var(--cor-secundaria);
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

}

.revelar {
    opacity: 0;
    transform: translateX(-40px);
    transition: 0.8s;
}

.revelar.ativo {
    opacity: 1;
    transform: translateX(0);
}

.organizacao-conteudo img {
    display: block;
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.organizacao-texto {
    flex: 1;
    text-align: center;
    max-width: 800px;
}

.organizacao-texto h3 {
    font-size: 32px;
    
}

.organizacao-texto p {
    margin-bottom: 10px;
}